@model IEnumerable<ShoeStore.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2 class="mt-4 text-center">Phân Quyền Người Dùng</h2>
    <p class="text-end mt-5">
        <a class="text-dark fw-bolder fs-5 btn btn-success text-dark" asp-action="Create">Create New</a>
    </p>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class=" mt-5 border-radius-10">
                        <a class="btn btn-warning btn-sm mx-1" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
                        <a class="btn btn-danger btn-sm mx-1"  asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
