@model ShoeStore.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <h2 class="text-center pt-5">Thong Tin San Pham</h2>

    <div class="mt-2 mb-2 btn btn-success">
        <a class=" text-white text-decoration-none" asp-action="Index">Back to List</a>

    </div>

    <hr />
    <dl class="row">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                    <td>@Html.DisplayFor(model => model.ProductName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ShortDesciption)</th>
                    <td>@Html.DisplayFor(model => model.ShortDesciption)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Discount)</th>
                    <td>@Html.DisplayFor(model => model.Discount)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Thumb)</th>
                    <td>
                        <img src="@Model.Thumb" alt="Thumbnail Image" style="width: 50px; height: 50px;" />
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductImage)</th>
                    <td>
                        <img src="@Model.ProductImage" alt="Product Image" style="width: 50px; height: 50px;" />
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
                    <td>@Html.DisplayFor(model => model.DateCreated)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DateModified)</th>
                    <td>@Html.DisplayFor(model => model.DateModified)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BestSellers)</th>
                    <td>@Html.DisplayFor(model => model.BestSellers)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.HomeFlag)</th>
                    <td>@Html.DisplayFor(model => model.HomeFlag)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Active)</th>
                    <td>@Html.DisplayFor(model => model.Active)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Tags)</th>
                    <td>@Html.DisplayFor(model => model.Tags)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Alias)</th>
                    <td>@Html.DisplayFor(model => model.Alias)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MetaDesc)</th>
                    <td>@Html.DisplayFor(model => model.MetaDesc)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MetaKey)</th>
                    <td>@Html.DisplayFor(model => model.MetaKey)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UnitsStock)</th>
                    <td>@Html.DisplayFor(model => model.UnitsStock)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Cartegoty)</th>
                    <td>@Html.DisplayFor(model => model.Cartegoty.CategoryId)</td>
                </tr>
            </tbody>
        </table>
       </dl>
</div>
