@model ShoeStore.Models.Customer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center pt-3 mt-5">Xóa Thông Tin Khách Hàng: @Model.FullName</h2>

    <div class="mt-2 mb-2 btn btn-success">
        <a class="text-white text-decoration-none" asp-action="Index">Back to List</a>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

    <hr />

    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
                    <td>@Html.DisplayFor(model => model.CustomerId)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <td>@Html.DisplayFor(model => model.FullName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Birthday)</th>
                    <td>@Html.DisplayFor(model => model.Birthday)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Avatar)</th>
                    <td>@Html.DisplayFor(model => model.Avatar)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LocationId)</th>
                    <td>@Html.DisplayFor(model => model.LocationId)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.District)</th>
                    <td>@Html.DisplayFor(model => model.District)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Ward)</th>
                    <td>@Html.DisplayFor(model => model.Ward)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                    <td>@Html.DisplayFor(model => model.CreateDate)</td>
                </tr>
                <!-- Thêm các trường thông tin khác của khách hàng -->
            </tbody>
        </table>
    </div>
</div>